      </section>
    </main>
  </div>

  <div id="toastContainer" class="fixed top-4 right-4 z-[90]"></div>
  <div id="globalLoader" class="wf-loader hidden">
    <div class="wf-loader-box">
      <span class="wf-loader-spinner"></span>
      <p>Salvando, aguarde...</p>
    </div>
  </div>

  <script src="/workflow-assets/js/workflow-common.js"></script>
  <% if (typeof pageScript !== 'undefined' && pageScript) { %>
    <script src="<%= pageScript %>"></script>
  <% } %>
</body>
</html>
